<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fabicon (Webアイコン) の設定 -->
    <link rel="apple-touch-icon" type="image/png" href="images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/favicon/favicon_ricense-quiz.png">
    
    <!-- Bootstrap の読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

    <!-- css の読み込み -->
    <link rel="stylesheet" href="main.css">

    
    <title>FP３級クイズ</title>
</head>
<body>
    <!-- As a heading -->
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo_ricense-quiz.png" width="30" height="30" class="d-inline-block align-top" alt="">
            資格クイズ
        </a>
    </nav>

    <div id="app">

        <div class="container">

            <div class="row my-3">

                <div class="col-12">
                    <h1 class="text-center main-title">FP３級クイズ</h1>
                    <p class="">次の各文章の（  ）内にあてはまる最も適切な文章、語句、数字を選んでください。</p>
                </div>

            </div>

            <!-- ここから下に新しく作る -->

            <div class="row">

                <div class="col-md-8 offset-md-2">
                    第{{getCurrentQuestionNumber()}}問 / 全{{questionsLength}}問
                </div>

                <!-- 問題文を表示する領域 -->
                <div class="col-md-8 offset-md-2">
                    
                    <div class="questionBox">
                        <span class="box-title">問題</span>
                        <p>{{questions[currentQuestionNumber].title}}</p>
                    </div>

                </div>

                <!-- 選択肢を表示する領域 -->

                <div class="col-md-8 offset-md-2 bg-light p-3">
                    <p class="font-bold">【次の4つから選んでください】</p>
                    <ol>
                        <li v-for="answer in questions[currentQuestionNumber].answers" class="my-3">
                            {{answer}}
                        </li>  
                    </ol>
                </div>

                <!-- 回答ボタンを表示する領域 -->

                <div class="col-md-8 offset-md-2 text-center mt-5">

                    <div class="mb-4">
                        <a href="#" class="answer-btn answer-btn-bg2 mx-3" @click="answerCheck(0)">１</a>
                        <a href="#" class="answer-btn answer-btn-bg2 mx-3" @click="answerCheck(1)">２</a>
                        <a href="#" class="answer-btn answer-btn-bg2 mx-3" @click="answerCheck(2)">３</a>
                        <a href="#" class="answer-btn answer-btn-bg2 mx-3" @click="answerCheck(2)">４</a>
                    </div>

                    <p class="text-center">正解だと思う番号をクリックしてください</p>

                </div>

            </div>

        </div>

        <!-- 答えを表示するモーダル -->
        
        <div class="modal" id="answerCheckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">問題{{getCurrentQuestionNumber()}}</h5>
                    </div>
                    
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-4">
                                <div class="text-center">
                                    <img src="./images//correct.png" class="answer-img" alt="" v-if="isCorrect">
                                    <img src="./images/miss.png" class="answer-img" alt="" v-if="!isCorrect">
                                </div>
                            </div>

                            <div class="col-8">

                                <div v-if="isCorrect">
                                    <h3 class="answer-title">正解！</h3>
                                    <p>正解は、{{questions[currentQuestionNumber].answers[questions[currentQuestionNumber].answerNum]}}ですね！</p>
                                    <p></p>    
                                </div>

                                <div v-if="!isCorrect">
                                    <h3 class="answer-title">残念...!</h3>
                                    <p>正解は、{{questions[currentQuestionNumber].answers[questions[currentQuestionNumber].answerNum]}}でした。</p>
                                    <p></p>    
                                </div>

                            </div>

                        </div>
        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="nextQuestion()">次の問題へ</button>
                    </div>
                </div>
            </div>
         </div>

         <!-- すべての問題を回答し終わったときに表示するモーダル -->

         <div class="modal fade" id="answerEndedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        おつかれさまでした！
                    </div>
                    
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-4">
                                <div class="text-center">
                                    <img src="./images/trophy.png" class="answer-img">
                                </div>
                            </div>

                            <div class="col-8">

                                <p>{{questionsLength}} 問中 {{ correctAnswerNum }}問正解しました！</p>

                            </div>

                        </div>
        
                    </div>
        
                    <div class="modal-footer">
                    
                        <a href="index.html" class="btn btn-success">クイズ一覧にもどる</a>
                        <a href="#" class="btn btn-primary" @click="reload()">最初から答える</a>

                    </div>
                </div>
            </div>
         </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var app = new Vue({

            el: "#app",
            data: {

                //使いたい変数や配列などを定義する
//問題文のデータ
                questions:{
                    0:{
                        title: "投資において、リスクとリターンはどのような関係にあるか？",
                        hint: "",
                        answers: [
                            "リスクが高いほどリターンも高い", "リスクが高いほどリターンも低い", "リスクとリターンは無関係","リスクが低いほどリターンも高い"
                        ],
                        answerNum: 0,
                        description: ""
                    },

                    1:{
                        title: "定期預金の特徴は次のうちどれですか？",
                        hint: "",
                        answers: [
                            "高いリターンが期待できる", "いつでもお金を引き出せる", "利息は非課税","一定期間お金を預けることが必要"
                        ],
                        answerNum: 3,
                        description: ""
                    },

                    2:{
                        title: "「相続税」とは何の税金ですか？",
                        hint: "",
                        answers: [
                            "不動産を売却する際の税金", "贈与を受けた際の税金", "遺産を相続する際の税金","資産を運用する際の税金"
                        ],
                        answerNum: 2,
                        description: ""
                    },

                    3:{
                        title: "株式投資において、株を保有している期間に支払われる利益のことを何と呼ぶでしょうか？",
                        hint: "",
                        answers: [
                            "ディビデンド", "配当金", "キャピタルゲイン","利息"
                        ],
                        answerNum: 2,
                        description: ""
                    },

                    4:{
                        title: "「インフレーション」とは何を意味する言葉でしょうか？",
                        hint: "",
                        answers: [
                            "賃金が上がること", "物価が上がること", "貯蓄が増えること","経済が成長すること"
                        ],
                        answerNum: 1,
                        description: ""
                    },

                    5:{
                        title: "家計の収入から支出を差し引いた残りの金額を何と呼ぶでしょうか？",
                        hint: "",
                        answers: [
                            "バランス", "バジェット", "キャッシュフロー","インカム"
                        ],
                        answerNum: 2,
                        description: ""
                    },
                    6:{
                        title: "長期的な貯蓄目標を達成するために、定期的に積立てる投資方法を何と呼ぶでしょうか？",
                        hint: "",
                        answers: [
                            "リスク分散投資", "ダイバーシフィケーション", "ドルコスト平均法","ヘッジファンド"
                        ],
                        answerNum: 2,
                        description: ""
                    },
                    7:{
                        title: "現金を使わずにクレジットカードを利用することによって発生する潜在的なリスクは何ですか？",
                        hint: "",
                        answers: [
                            "個人情報の漏洩", "通貨リスク", "購買力リスク","クレジットリスク"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    8:{
                        title: "年金を受け取るために、一定期間保険料を支払う制度を何と呼ぶでしょうか？",
                        hint: "",
                        answers: [
                            "個人年金保険", "国民年金", "年金共済","積立年金"
                        ],
                        answerNum: 3,
                        description: ""
                    },
                    9:{
                        title: "「資産配分」とは何を意味する投資用語でしょうか？",
                        hint: "",
                        answers: [
                            "新たな資産を得ること", "資産を売却すること", "資産を効果的に分散させること","資産を預けること"
                        ],
                        answerNum: 2,
                        description: ""
                    }
                },
                

                //変数
                currentQuestionNumber: 0,   //現在の問題番号
                currentQuestionData: [], //現在の問題データ
                correctAnswerNum: 0,//正解した数
                isCorrect: true,
                questionsLength: 0


            },

            mounted() {

                // ページが読み込まれたとき最初に呼ばれる関数

                //問題の長さを自動的に設定する
                this.questionsLength = Object.keys(this.questions).length;
                
            },

            methods: {

                // 処理を関数にして記述する

                getCurrentQuestionNumber(){
                    return this.currentQuestionNumber + 1;
                },

                //答えをチェックする処理
                answerCheck(userChoiceNumber){

                    if(userChoiceNumber == this.questions[this.currentQuestionNumber].answerNum){
                        //正解！
                        this.isCorrect = true;
                        this.correctAnswerNum += 1;
                    }else{
                        this.isCorrect = false;
                    }
                    
                    //結果を表示するモーダルを表示する
                    $('#answerCheckModal').modal({
                        keyboard: false,
                        backdrop: "static"
                    });
                },

                // 次の問題に行く処理
                nextQuestion(){

                    if(this.currentQuestionNumber < Object.keys(this.questions).length - 1){
                        this.currentQuestionNumber += 1;
                        $('#answerCheckModal').modal('hide');
                    }else{3
                        $('#answerCheckModal').modal('hide');

                        //すべての問題が解き終わったので、最終結果モーダルを表示する
                        $('#answerEndedModal').modal({
                            keyboard: false,
                            backdrop: "static"
                        });
                    }                    
                },

                reload(){
                    location.reload();
                }

            }

        })

    </script>

</body>

</html>
